In [1]:
#https://www.kaggle.com/code/blessontomjoseph/premier-league-predictions
#https://www.kaggle.com/code/jeongwonwoobit/epl-winner

In [2]:
from time import time
import pprint
import tqdm
import pickle
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from collections import namedtuple,OrderedDict
from functools import partial

from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.decomposition import PCA
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics import make_scorer
from xgboost import XGBClassifier, DMatrix
from skopt.callbacks import DeadlineStopper, DeltaYStopper
from skopt.space import Real, Categorical, Integer
from skopt import BayesSearchCV
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score,confusion_matrix

sns.set_style('darkgrid')
warnings.simplefilter('ignore')

ModuleNotFoundError: No module named 'skopt'

In [170]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf

In [171]:
pd.set_option("display.max_rows", 200)
pd.options.mode.chained_assignment = None  # default='warn'

In [172]:
data_csv = '../data/EPL_results/results.csv'

In [173]:
data = pd.read_csv(data_csv, encoding='windows-1254')
print(data.tail())

       Season              DateTime     HomeTeam        AwayTeam  FTHG  FTAG  \
8284  2021-22  2022-04-09T17:30:00Z  Aston Villa       Tottenham     0     4
8285  2021-22  2022-04-10T14:00:00Z    Brentford        West Ham     2     0
8286  2021-22  2022-04-10T14:00:00Z    Leicester  Crystal Palace     2     1
8287  2021-22  2022-04-10T14:00:00Z      Norwich         Burnley     2     0
8288  2021-22  2022-04-10T16:30:00Z     Man City       Liverpool     2     2

     FTR  HTHG  HTAG HTR  ... HST  AST  HC  AC  HF  AF  HY  AY  HR  AR
8284   A     0     1   A  ...   8    5   9   3  12  14   2   3   0   0
8285   H     0     0   D  ...   7    1   4   6   2   6   0   1   0   0
8286   H     2     0   H  ...   3    3   3   4  11  12   1   1   0   0
8287   H     1     0   H  ...   6    4   6   7  12  10   1   1   0   0
8288   D     2     1   H  ...   5    4   4   1   9  11   1   4   0   0

[5 rows x 23 columns]

In [182]:
def CalcRollingValues(df, value, home_col, away_col, window=10, func='mean'):
    
    df[home_col] = np.nan
    df[away_col] = np.nan
    teams = df.HomeTeam.value_counts().index
    
    for team in teams:
        calc_data = df[(df['HomeTeam']==team) | (df['AwayTeam']==team)].rolling(window=window,on="HomeTeam",closed='left')
#         calc_data = df.groupby(team_name)[value].rolling(window=window,closed='left')

        if func=='mean':
            calc_data = calc_data.mean(numeric_only=True)
        elif func=='sum':
            calc_data = calc_data.sum(numeric_only=True)
        else:
            return np.nan

        home_data = calc_data[team == calc_data['HomeTeam']]
        
        away_data = calc_data[team != calc_data['HomeTeam']]
#         series_away = pd.Series(away_data[value],index=away_data.index)
        
        df.loc[home_data.index, home_col] = home_data[value]
        df.loc[away_data.index, away_col] = away_data[value]
#         df[home_col] = pd.Series(HTAC.TC,index=HTAC['level_1'])

In [175]:
df = pd.DataFrame()

In [176]:
df['DateTime'] = data['DateTime']
df['HomeTeam'] = data['HomeTeam']
df['AwayTeam'] = data['AwayTeam']

In [177]:
df['TC'] = data['HC']+data['AC']
data['TC'] = data['HC']+data['AC']

In [178]:
data.groupby("HomeTeam")['HC'].mean()

HomeTeam
Arsenal             7.322892
Aston Villa         6.151261
Birmingham          5.624060
Blackburn           5.770335
Blackpool           4.947368
Bolton              6.162679
Bournemouth         5.684211
Bradford            5.684211
Brentford           4.312500
Brighton            5.510870
Burnley             4.777027
Cardiff             5.394737
Charlton            5.496241
Chelsea             6.789346
Coventry            6.684211
Crystal Palace      5.491979
Derby               4.701754
Everton             6.214976
Fulham              5.371930
Huddersfield        4.921053
Hull                4.831579
Ipswich             7.052632
Leeds               6.360360
Leicester           5.721951
Liverpool           7.328502
Man City            7.329114
Man United          6.934940
Middlesbrough       5.636842
Newcastle           5.920213
Norwich             5.192308
Portsmouth          6.308271
QPR                 5.000000
Reading             6.701754
Sheffield United    6.052632
Southampton         5.730496
Stoke               5.273684
Sunderland          5.402256
Swansea             5.443609
Tottenham           6.536232
Watford             4.837209
West Brom           5.497976
West Ham            5.703911
Wigan               5.723684
Wolves              5.651007
Name: HC, dtype: float64

In [185]:
small_df = data.loc[0:100]

In [186]:
small_df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,TC
0,Jan-00,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,H,...,4,6,6,13,12,1,2,0,0,12
1,Jan-00,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,H,...,5,7,7,19,14,1,2,0,0,14
2,Jan-00,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1,1,D,...,9,8,4,15,21,5,3,1,0,12
3,Jan-00,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1,2,A,...,6,5,8,11,13,1,1,0,0,13
4,Jan-00,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,H,...,6,6,4,21,20,1,3,0,0,10
5,Jan-00,2000-08-19T00:00:00Z,Leicester,Aston Villa,0,0,D,0,0,D,...,3,5,4,12,12,2,3,0,0,9
6,Jan-00,2000-08-19T00:00:00Z,Liverpool,Bradford,1,0,H,0,0,D,...,2,6,1,8,8,1,1,0,0,7
7,Jan-00,2000-08-19T00:00:00Z,Sunderland,Arsenal,1,0,H,0,0,D,...,7,2,9,10,21,3,1,0,1,11
8,Jan-00,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,H,2,1,H,...,5,3,4,14,13,0,0,0,0,7
9,Jan-00,2000-08-20T00:00:00Z,Man United,Newcastle,2,0,H,1,0,H,...,6,7,1,7,13,0,1,0,0,8
10,Jan-00,2000-08-21T00:00:00Z,Arsenal,Liverpool,2,0,H,1,0,H,...,4,10,11,25,20,2,4,1,2,21
11,Jan-00,2000-08-22T00:00:00Z,Bradford,Chelsea,2,0,H,1,0,H,...,6,6,4,14,16,0,1,0,0,10
12,Jan-00,2000-08-22T00:00:00Z,Ipswich,Man United,1,1,D,1,1,D,...,6,4,6,10,7,1,4,0,0,10
13,Jan-00,2000-08-22T00:00:00Z,Middlesbrough,Tottenham,1,1,D,0,1,A,...,4,5,5,9,18,2,1,0,0,10
14,Jan-00,2000-08-23T00:00:00Z,Everton,Charlton,3,0,H,0,0,D,...,4,3,5,17,15,2,1,0,1,8
15,Jan-00,2000-08-23T00:00:00Z,Man City,Sunderland,4,2,H,2,0,H,...,4,7,3,24,14,3,3,0,0,10
16,Jan-00,2000-08-23T00:00:00Z,Newcastle,Derby,3,2,H,1,1,D,...,5,9,6,23,11,0,3,1,0,15
17,Jan-00,2000-08-23T00:00:00Z,Southampton,Coventry,1,2,A,0,1,A,...,5,6,5,18,20,5,3,0,0,11
18,Jan-00,2000-08-23T00:00:00Z,West Ham,Leicester,0,1,A,0,0,D,...,2,11,5,16,14,3,3,1,0,16
19,Jan-00,2000-08-26T00:00:00Z,Arsenal,Charlton,5,3,H,1,2,A,...,4,8,3,12,15,0,1,0,0,11
20,Jan-00,2000-08-26T00:00:00Z,Bradford,Leicester,0,0,D,0,0,D,...,8,6,8,11,12,1,2,0,0,14
21,Jan-00,2000-08-26T00:00:00Z,Everton,Derby,2,2,D,2,0,H,...,4,11,2,11,9,2,3,0,0,13
22,Jan-00,2000-08-26T00:00:00Z,Ipswich,Sunderland,1,0,H,0,0,D,...,3,7,6,10,12,1,1,0,0,13
23,Jan-00,2000-08-26T00:00:00Z,Man City,Coventry,1,2,A,0,2,A,...,8,5,5,7,12,2,3,0,0,10
24,Jan-00,2000-08-26T00:00:00Z,Middlesbrough,Leeds,1,2,A,0,2,A,...,11,4,8,12,20,2,0,0,0,12
25,Jan-00,2000-08-26T00:00:00Z,Newcastle,Tottenham,2,0,H,1,0,H,...,2,4,2,13,10,0,0,0,0,6
26,Jan-00,2000-08-26T00:00:00Z,Southampton,Liverpool,3,3,D,0,1,A,...,4,7,1,7,6,0,0,0,0,8
27,Jan-00,2000-08-26T00:00:00Z,West Ham,Man United,2,2,D,0,1,A,...,5,7,5,12,9,1,0,0,0,12
28,Jan-00,2000-08-27T00:00:00Z,Aston Villa,Chelsea,1,1,D,1,1,D,...,7,7,10,13,12,0,1,0,0,17
29,Jan-00,2000-09-05T00:00:00Z,Leeds,Man City,1,2,A,0,2,A,...,3,9,4,18,24,2,2,0,0,13
30,Jan-00,2000-09-05T00:00:00Z,Man United,Bradford,6,0,H,2,0,H,...,4,5,1,12,10,0,1,0,0,6
31,Jan-00,2000-09-05T00:00:00Z,Sunderland,West Ham,1,1,D,1,1,D,...,9,4,11,19,14,2,3,0,0,15
32,Jan-00,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,H,1,2,A,...,6,7,5,11,10,1,2,0,0,12
33,Jan-00,2000-09-06T00:00:00Z,Charlton,Southampton,1,1,D,0,0,D,...,3,10,14,14,16,3,3,1,0,24
34,Jan-00,2000-09-06T00:00:00Z,Chelsea,Arsenal,2,2,D,1,0,H,...,5,7,6,16,22,3,1,0,0,13
35,Jan-00,2000-09-06T00:00:00Z,Coventry,Newcastle,0,2,A,0,1,A,...,6,6,8,11,18,1,1,0,0,14
36,Jan-00,2000-09-06T00:00:00Z,Derby,Middlesbrough,3,3,D,0,1,A,...,4,11,5,8,10,3,2,0,0,16
37,Jan-00,2000-09-06T00:00:00Z,Leicester,Ipswich,2,1,H,0,0,D,...,3,6,2,12,13,1,1,0,0,8
38,Jan-00,2000-09-06T00:00:00Z,Liverpool,Aston Villa,3,1,H,3,0,H,...,4,8,7,13,7,0,2,0,0,15
39,Jan-00,2000-09-09T00:00:00Z,Bradford,Arsenal,1,1,D,1,0,H,...,11,4,10,17,13,0,2,0,0,14
40,Jan-00,2000-09-09T00:00:00Z,Coventry,Leeds,0,0,D,0,0,D,...,5,6,6,15,14,2,2,0,0,12
41,Jan-00,2000-09-09T00:00:00Z,Ipswich,Aston Villa,1,2,A,0,1,A,...,2,5,3,9,13,1,3,0,0,8
42,Jan-00,2000-09-09T00:00:00Z,Leicester,Southampton,1,0,H,0,0,D,...,5,10,6,6,9,0,0,0,0,16
43,Jan-00,2000-09-09T00:00:00Z,Liverpool,Man City,3,2,H,1,0,H,...,7,9,4,17,17,3,4,0,0,13
44,Jan-00,2000-09-09T00:00:00Z,Man United,Sunderland,3,0,H,1,0,H,...,1,4,4,18,14,1,3,0,0,8
45,Jan-00,2000-09-09T00:00:00Z,Middlesbrough,Everton,1,2,A,1,0,H,...,9,7,7,16,5,3,0,0,0,14
46,Jan-00,2000-09-09T00:00:00Z,Newcastle,Chelsea,0,0,D,0,0,D,...,3,5,6,17,21,0,3,0,0,11
47,Jan-00,2000-09-10T00:00:00Z,Derby,Charlton,2,2,D,2,0,H,...,6,4,11,17,12,3,1,0,0,15
48,Jan-00,2000-09-11T00:00:00Z,Tottenham,West Ham,1,0,H,0,0,D,...,5,11,3,14,13,1,2,0,0,14
49,Jan-00,2000-09-16T00:00:00Z,Arsenal,Coventry,2,1,H,1,0,H,...,2,8,4,5,13,1,2,0,0,12
50,Jan-00,2000-09-16T00:00:00Z,Aston Villa,Bradford,2,0,H,1,0,H,...,4,5,6,8,12,0,2,0,0,11
51,Jan-00,2000-09-16T00:00:00Z,Charlton,Tottenham,1,0,H,1,0,H,...,5,7,5,8,10,0,0,0,0,12
52,Jan-00,2000-09-16T00:00:00Z,Everton,Man United,1,3,A,0,3,A,...,9,6,5,10,11,4,1,0,0,11
53,Jan-00,2000-09-16T00:00:00Z,Leeds,Ipswich,1,2,A,1,1,D,...,7,6,3,12,19,1,3,0,0,9
54,Jan-00,2000-09-16T00:00:00Z,Southampton,Newcastle,2,0,H,0,0,D,...,7,4,8,14,14,0,0,0,0,12
55,Jan-00,2000-09-16T00:00:00Z,Sunderland,Derby,2,1,H,1,0,H,...,5,4,5,16,28,2,3,0,0,9
56,Jan-00,2000-09-17T00:00:00Z,Chelsea,Leicester,0,2,A,0,1,A,...,5,15,3,16,17,3,1,0,0,18
57,Jan-00,2000-09-17T00:00:00Z,Man City,Middlesbrough,1,1,D,0,0,D,...,2,9,3,15,11,2,5,0,0,12
58,Jan-00,2000-09-17T00:00:00Z,West Ham,Liverpool,1,1,D,0,1,A,...,2,9,0,5,13,0,2,0,0,9
59,Jan-00,2000-09-23T00:00:00Z,Bradford,Southampton,0,1,A,0,1,A,...,4,7,5,14,18,3,1,0,0,12
60,Jan-00,2000-09-23T00:00:00Z,Coventry,West Ham,0,3,A,0,2,A,...,10,5,6,12,11,0,1,0,0,11
61,Jan-00,2000-09-23T00:00:00Z,Derby,Leeds,1,1,D,0,1,A,...,6,7,4,17,15,2,2,1,0,11
62,Jan-00,2000-09-23T00:00:00Z,Ipswich,Arsenal,1,1,D,0,0,D,...,4,4,7,8,13,1,2,0,0,11
63,Jan-00,2000-09-23T00:00:00Z,Liverpool,Sunderland,1,1,D,1,1,D,...,3,12,3,14,18,2,2,0,0,15
64,Jan-00,2000-09-23T00:00:00Z,Man United,Chelsea,3,3,D,3,2,H,...,5,8,4,15,19,3,2,0,0,12
65,Jan-00,2000-09-23T00:00:00Z,Middlesbrough,Aston Villa,1,1,D,0,0,D,...,7,5,5,7,14,3,0,0,0,10
66,Jan-00,2000-09-23T00:00:00Z,Newcastle,Charlton,0,1,A,0,1,A,...,2,4,7,14,10,1,2,0,0,11
67,Jan-00,2000-09-23T00:00:00Z,Tottenham,Man City,0,0,D,0,0,D,...,2,5,4,10,14,0,2,0,0,9
68,Jan-00,2000-09-24T00:00:00Z,Leicester,Everton,1,1,D,1,0,H,...,3,9,3,14,13,3,1,0,0,12
69,Jan-00,2000-09-30T00:00:00Z,Aston Villa,Derby,4,1,H,2,0,H,...,6,6,6,0,1,1,1,0,0,12
70,Jan-00,2000-09-30T00:00:00Z,Charlton,Coventry,2,2,D,0,1,A,...,6,6,6,8,16,1,2,0,0,12
71,Jan-00,2000-09-30T00:00:00Z,Everton,Ipswich,0,3,A,0,1,A,...,7,4,1,6,5,1,0,0,0,5
72,Jan-00,2000-09-30T00:00:00Z,Leeds,Tottenham,4,3,H,0,1,A,...,5,6,4,11,20,0,2,0,0,10
73,Jan-00,2000-09-30T00:00:00Z,Man City,Newcastle,0,1,A,0,0,D,...,9,10,8,16,12,0,1,0,0,18
74,Jan-00,2000-09-30T00:00:00Z,Southampton,Middlesbrough,1,3,A,0,2,A,...,5,6,6,6,22,2,2,0,0,12
75,Jan-00,2000-09-30T00:00:00Z,West Ham,Bradford,1,1,D,1,0,H,...,6,7,2,14,10,3,2,0,0,9
76,Jan-00,2000-10-01T00:00:00Z,Arsenal,Man United,1,0,H,1,0,H,...,4,3,11,18,17,2,3,0,0,14
77,Jan-00,2000-10-01T00:00:00Z,Chelsea,Liverpool,3,0,H,2,0,H,...,2,3,1,14,14,1,1,0,0,4
78,Jan-00,2000-10-01T00:00:00Z,Sunderland,Leicester,0,0,D,0,0,D,...,2,6,2,12,8,3,1,0,0,8
79,Jan-00,2000-10-14T00:00:00Z,Arsenal,Aston Villa,1,0,H,0,0,D,...,3,7,4,12,20,1,4,0,1,11
80,Jan-00,2000-10-14T00:00:00Z,Coventry,Tottenham,2,1,H,2,0,H,...,5,3,5,12,16,0,4,1,0,8
81,Jan-00,2000-10-14T00:00:00Z,Everton,Southampton,1,1,D,0,0,D,...,4,9,8,16,13,1,3,0,0,17
82,Jan-00,2000-10-14T00:00:00Z,Ipswich,West Ham,1,1,D,1,0,H,...,2,8,5,10,11,0,4,0,0,13
83,Jan-00,2000-10-14T00:00:00Z,Leeds,Charlton,3,1,H,1,0,H,...,8,8,5,7,9,0,1,0,0,13
84,Jan-00,2000-10-14T00:00:00Z,Leicester,Man United,0,3,A,0,1,A,...,5,6,7,8,11,0,0,0,0,13
85,Jan-00,2000-10-14T00:00:00Z,Man City,Bradford,2,0,H,2,0,H,...,2,5,6,10,16,0,2,0,0,11
86,Jan-00,2000-10-14T00:00:00Z,Sunderland,Chelsea,1,0,H,0,0,D,...,2,5,0,12,18,0,1,1,1,5
87,Jan-00,2000-10-15T00:00:00Z,Derby,Liverpool,0,4,A,0,1,A,...,11,4,3,18,13,1,1,0,0,7
88,Jan-00,2000-10-16T00:00:00Z,Middlesbrough,Newcastle,1,3,A,0,1,A,...,8,6,6,8,13,2,1,0,0,12
89,Jan-00,2000-10-21T00:00:00Z,Bradford,Ipswich,0,2,A,0,1,A,...,3,9,1,15,14,1,0,0,0,10
90,Jan-00,2000-10-21T00:00:00Z,Charlton,Middlesbrough,1,0,H,0,0,D,...,6,5,6,11,19,2,2,0,0,11
91,Jan-00,2000-10-21T00:00:00Z,Chelsea,Coventry,6,1,H,2,0,H,...,3,10,0,6,8,0,1,0,1,10
92,Jan-00,2000-10-21T00:00:00Z,Liverpool,Leicester,1,0,H,0,0,D,...,3,10,9,8,10,1,2,0,0,19
93,Jan-00,2000-10-21T00:00:00Z,Man United,Leeds,3,0,H,1,0,H,...,0,12,4,9,18,0,2,0,0,16
94,Jan-00,2000-10-21T00:00:00Z,Newcastle,Everton,0,1,A,0,0,D,...,4,5,4,9,12,1,3,0,0,9
95,Jan-00,2000-10-21T00:00:00Z,Tottenham,Derby,3,1,H,2,1,H,...,7,7,4,9,16,1,2,0,0,11
96,Jan-00,2000-10-21T00:00:00Z,West Ham,Arsenal,1,2,A,0,2,A,...,5,5,4,15,11,1,0,0,0,9
97,Jan-00,2000-10-22T00:00:00Z,Aston Villa,Sunderland,0,0,D,0,0,D,...,3,7,3,11,17,1,3,0,0,10
98,Jan-00,2000-10-23T00:00:00Z,Southampton,Man City,0,2,A,0,1,A,...,4,9,3,10,15,1,2,0,0,12
99,Jan-00,2000-10-28T00:00:00Z,Arsenal,Man City,5,0,H,1,0,H,...,2,10,4,6,13,0,3,0,1,14
100,Jan-00,2000-10-28T00:00:00Z,Aston Villa,Charlton,2,1,H,2,0,H,...,4,9,6,13,11,3,2,0,0,15

In [181]:
small_df.groupby("HomeTeam")['TC'].mean()

HomeTeam
Arsenal          13.833333
Aston Villa      13.000000
Bradford         12.000000
Charlton         14.200000
Chelsea          11.800000
Coventry         11.400000
Derby            12.400000
Everton          10.800000
Ipswich          11.000000
Leeds            11.000000
Leicester        11.600000
Liverpool        13.800000
Man City         12.200000
Man United       10.000000
Middlesbrough    11.600000
Newcastle        10.400000
Southampton      11.000000
Sunderland        9.600000
Tottenham        10.600000
West Ham         11.000000
Name: TC, dtype: float64

In [200]:
CalcRollingValues(small_df,'TC','HTAC','ATAC',4)

In [201]:
small_df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AC,HF,AF,HY,AY,HR,AR,TC,HTAC,ATAC
0,Jan-00,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2,0,H,...,6,13,12,1,2,0,0,12,NaN,NaN
1,Jan-00,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1,0,H,...,7,19,14,1,2,0,0,14,NaN,NaN
2,Jan-00,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1,1,D,...,4,15,21,5,3,1,0,12,NaN,NaN
3,Jan-00,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1,2,A,...,8,11,13,1,1,0,0,13,NaN,NaN
4,Jan-00,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2,0,H,...,4,21,20,1,3,0,0,10,NaN,NaN
5,Jan-00,2000-08-19T00:00:00Z,Leicester,Aston Villa,0,0,D,0,0,D,...,4,12,12,2,3,0,0,9,NaN,NaN
6,Jan-00,2000-08-19T00:00:00Z,Liverpool,Bradford,1,0,H,0,0,D,...,1,8,8,1,1,0,0,7,NaN,NaN
7,Jan-00,2000-08-19T00:00:00Z,Sunderland,Arsenal,1,0,H,0,0,D,...,9,10,21,3,1,0,1,11,NaN,NaN
8,Jan-00,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,H,2,1,H,...,4,14,13,0,0,0,0,7,NaN,NaN
9,Jan-00,2000-08-20T00:00:00Z,Man United,Newcastle,2,0,H,1,0,H,...,1,7,13,0,1,0,0,8,NaN,NaN
10,Jan-00,2000-08-21T00:00:00Z,Arsenal,Liverpool,2,0,H,1,0,H,...,11,25,20,2,4,1,2,21,NaN,NaN
11,Jan-00,2000-08-22T00:00:00Z,Bradford,Chelsea,2,0,H,1,0,H,...,4,14,16,0,1,0,0,10,NaN,NaN
12,Jan-00,2000-08-22T00:00:00Z,Ipswich,Man United,1,1,D,1,1,D,...,6,10,7,1,4,0,0,10,NaN,NaN
13,Jan-00,2000-08-22T00:00:00Z,Middlesbrough,Tottenham,1,1,D,0,1,A,...,5,9,18,2,1,0,0,10,NaN,NaN
14,Jan-00,2000-08-23T00:00:00Z,Everton,Charlton,3,0,H,0,0,D,...,5,17,15,2,1,0,1,8,NaN,NaN
15,Jan-00,2000-08-23T00:00:00Z,Man City,Sunderland,4,2,H,2,0,H,...,3,24,14,3,3,0,0,10,NaN,NaN
16,Jan-00,2000-08-23T00:00:00Z,Newcastle,Derby,3,2,H,1,1,D,...,6,23,11,0,3,1,0,15,NaN,NaN
17,Jan-00,2000-08-23T00:00:00Z,Southampton,Coventry,1,2,A,0,1,A,...,5,18,20,5,3,0,0,11,NaN,NaN
18,Jan-00,2000-08-23T00:00:00Z,West Ham,Leicester,0,1,A,0,0,D,...,5,16,14,3,3,1,0,16,NaN,NaN
19,Jan-00,2000-08-26T00:00:00Z,Arsenal,Charlton,5,3,H,1,2,A,...,3,12,15,0,1,0,0,11,NaN,NaN
20,Jan-00,2000-08-26T00:00:00Z,Bradford,Leicester,0,0,D,0,0,D,...,8,11,12,1,2,0,0,14,NaN,NaN
21,Jan-00,2000-08-26T00:00:00Z,Everton,Derby,2,2,D,2,0,H,...,2,11,9,2,3,0,0,13,NaN,NaN
22,Jan-00,2000-08-26T00:00:00Z,Ipswich,Sunderland,1,0,H,0,0,D,...,6,10,12,1,1,0,0,13,NaN,NaN
23,Jan-00,2000-08-26T00:00:00Z,Man City,Coventry,1,2,A,0,2,A,...,5,7,12,2,3,0,0,10,NaN,NaN
24,Jan-00,2000-08-26T00:00:00Z,Middlesbrough,Leeds,1,2,A,0,2,A,...,8,12,20,2,0,0,0,12,NaN,NaN
25,Jan-00,2000-08-26T00:00:00Z,Newcastle,Tottenham,2,0,H,1,0,H,...,2,13,10,0,0,0,0,6,NaN,NaN
26,Jan-00,2000-08-26T00:00:00Z,Southampton,Liverpool,3,3,D,0,1,A,...,1,7,6,0,0,0,0,8,NaN,NaN
27,Jan-00,2000-08-26T00:00:00Z,West Ham,Man United,2,2,D,0,1,A,...,5,12,9,1,0,0,0,12,NaN,NaN
28,Jan-00,2000-08-27T00:00:00Z,Aston Villa,Chelsea,1,1,D,1,1,D,...,10,13,12,0,1,0,0,17,NaN,NaN
29,Jan-00,2000-09-05T00:00:00Z,Leeds,Man City,1,2,A,0,2,A,...,4,18,24,2,2,0,0,13,NaN,NaN
30,Jan-00,2000-09-05T00:00:00Z,Man United,Bradford,6,0,H,2,0,H,...,1,12,10,0,1,0,0,6,NaN,NaN
31,Jan-00,2000-09-05T00:00:00Z,Sunderland,West Ham,1,1,D,1,1,D,...,11,19,14,2,3,0,0,15,NaN,NaN
32,Jan-00,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,H,1,2,A,...,5,11,10,1,2,0,0,12,NaN,NaN
33,Jan-00,2000-09-06T00:00:00Z,Charlton,Southampton,1,1,D,0,0,D,...,14,14,16,3,3,1,0,24,NaN,NaN
34,Jan-00,2000-09-06T00:00:00Z,Chelsea,Arsenal,2,2,D,1,0,H,...,6,16,22,3,1,0,0,13,NaN,NaN
35,Jan-00,2000-09-06T00:00:00Z,Coventry,Newcastle,0,2,A,0,1,A,...,8,11,18,1,1,0,0,14,NaN,NaN
36,Jan-00,2000-09-06T00:00:00Z,Derby,Middlesbrough,3,3,D,0,1,A,...,5,8,10,3,2,0,0,16,NaN,NaN
37,Jan-00,2000-09-06T00:00:00Z,Leicester,Ipswich,2,1,H,0,0,D,...,2,12,13,1,1,0,0,8,NaN,NaN
38,Jan-00,2000-09-06T00:00:00Z,Liverpool,Aston Villa,3,1,H,3,0,H,...,7,13,7,0,2,0,0,15,NaN,NaN
39,Jan-00,2000-09-09T00:00:00Z,Bradford,Arsenal,1,1,D,1,0,H,...,10,17,13,0,2,0,0,14,9.25,14.00
40,Jan-00,2000-09-09T00:00:00Z,Coventry,Leeds,0,0,D,0,0,D,...,6,15,14,2,2,0,0,12,11.75,NaN
41,Jan-00,2000-09-09T00:00:00Z,Ipswich,Aston Villa,1,2,A,0,1,A,...,3,9,13,1,3,0,0,8,9.50,NaN
42,Jan-00,2000-09-09T00:00:00Z,Leicester,Southampton,1,0,H,0,0,D,...,6,6,9,0,0,0,0,16,11.75,14.00
43,Jan-00,2000-09-09T00:00:00Z,Liverpool,Man City,3,2,H,1,0,H,...,4,17,17,3,4,0,0,13,12.75,11.25
44,Jan-00,2000-09-09T00:00:00Z,Man United,Sunderland,3,0,H,1,0,H,...,4,18,14,1,3,0,0,8,9.00,12.25
45,Jan-00,2000-09-09T00:00:00Z,Middlesbrough,Everton,1,2,A,1,0,H,...,7,16,5,3,0,0,0,14,12.50,10.75
46,Jan-00,2000-09-09T00:00:00Z,Newcastle,Chelsea,0,0,D,0,0,D,...,6,17,21,0,3,0,0,11,10.75,13.50
47,Jan-00,2000-09-10T00:00:00Z,Derby,Charlton,2,2,D,2,0,H,...,11,17,12,3,1,0,0,15,14.25,13.75
48,Jan-00,2000-09-11T00:00:00Z,Tottenham,West Ham,1,0,H,0,0,D,...,3,14,13,1,2,0,0,14,8.75,14.25
49,Jan-00,2000-09-16T00:00:00Z,Arsenal,Coventry,2,1,H,1,0,H,...,4,5,13,1,2,0,0,12,14.75,11.75
50,Jan-00,2000-09-16T00:00:00Z,Aston Villa,Bradford,2,0,H,1,0,H,...,6,8,12,0,2,0,0,11,12.25,11.00
51,Jan-00,2000-09-16T00:00:00Z,Charlton,Tottenham,1,0,H,1,0,H,...,5,8,10,0,0,0,0,12,14.50,10.50
52,Jan-00,2000-09-16T00:00:00Z,Everton,Man United,1,3,A,0,3,A,...,5,10,11,4,1,0,0,11,11.75,9.00
53,Jan-00,2000-09-16T00:00:00Z,Leeds,Ipswich,1,2,A,1,1,D,...,3,12,19,1,3,0,0,9,11.75,9.75
54,Jan-00,2000-09-16T00:00:00Z,Southampton,Newcastle,2,0,H,0,0,D,...,8,14,14,0,0,0,0,12,14.75,11.50
55,Jan-00,2000-09-16T00:00:00Z,Sunderland,Derby,2,1,H,1,0,H,...,5,16,28,2,3,0,0,9,11.50,14.75
56,Jan-00,2000-09-17T00:00:00Z,Chelsea,Leicester,0,2,A,0,1,A,...,3,16,17,3,1,0,0,18,12.75,13.50
57,Jan-00,2000-09-17T00:00:00Z,Man City,Middlesbrough,1,1,D,0,0,D,...,3,15,11,2,5,0,0,12,11.50,13.00
58,Jan-00,2000-09-17T00:00:00Z,West Ham,Liverpool,1,1,D,0,1,A,...,0,5,13,0,2,0,0,9,14.25,14.25
59,Jan-00,2000-09-23T00:00:00Z,Bradford,Southampton,0,1,A,0,1,A,...,5,14,18,3,1,0,0,12,11.25,15.00
60,Jan-00,2000-09-23T00:00:00Z,Coventry,West Ham,0,3,A,0,2,A,...,6,12,11,0,1,0,0,11,12.00,12.50
61,Jan-00,2000-09-23T00:00:00Z,Derby,Leeds,1,1,D,0,1,A,...,4,17,15,2,2,1,0,11,13.25,11.50
62,Jan-00,2000-09-23T00:00:00Z,Ipswich,Arsenal,1,1,D,0,0,D,...,7,8,13,1,2,0,0,11,9.50,12.50
63,Jan-00,2000-09-23T00:00:00Z,Liverpool,Sunderland,1,1,D,1,1,D,...,3,14,18,2,2,0,0,15,11.25,11.25
64,Jan-00,2000-09-23T00:00:00Z,Man United,Chelsea,3,3,D,3,2,H,...,4,15,19,3,2,0,0,12,9.25,14.75
65,Jan-00,2000-09-23T00:00:00Z,Middlesbrough,Aston Villa,1,1,D,0,0,D,...,5,7,14,3,0,0,0,10,13.50,12.75
66,Jan-00,2000-09-23T00:00:00Z,Newcastle,Charlton,0,1,A,0,1,A,...,7,14,10,1,2,0,0,11,10.75,15.50
67,Jan-00,2000-09-23T00:00:00Z,Tottenham,Man City,0,0,D,0,0,D,...,4,10,14,0,2,0,0,9,11.00,12.00
68,Jan-00,2000-09-24T00:00:00Z,Leicester,Everton,1,1,D,1,0,H,...,3,14,13,3,1,0,0,12,14.00,12.50
69,Jan-00,2000-09-30T00:00:00Z,Aston Villa,Derby,4,1,H,2,0,H,...,6,0,1,1,1,0,0,12,11.00,12.75
70,Jan-00,2000-09-30T00:00:00Z,Charlton,Coventry,2,2,D,0,1,A,...,6,8,16,1,2,0,0,12,15.50,12.25
71,Jan-00,2000-09-30T00:00:00Z,Everton,Ipswich,0,3,A,0,1,A,...,1,6,5,1,0,0,0,5,12.25,9.00
72,Jan-00,2000-09-30T00:00:00Z,Leeds,Tottenham,4,3,H,0,1,A,...,4,11,20,0,2,0,0,10,11.25,11.75
73,Jan-00,2000-09-30T00:00:00Z,Man City,Newcastle,0,1,A,0,0,D,...,8,16,12,0,1,0,0,18,11.75,12.00
74,Jan-00,2000-09-30T00:00:00Z,Southampton,Middlesbrough,1,3,A,0,2,A,...,6,6,22,2,2,0,0,12,16.00,13.00
75,Jan-00,2000-09-30T00:00:00Z,West Ham,Bradford,1,1,D,1,0,H,...,2,14,10,3,2,0,0,9,12.25,10.75
76,Jan-00,2000-10-01T00:00:00Z,Arsenal,Man United,1,0,H,1,0,H,...,11,18,17,2,3,0,0,14,12.50,9.25
77,Jan-00,2000-10-01T00:00:00Z,Chelsea,Liverpool,3,0,H,2,0,H,...,1,14,14,1,1,0,0,4,13.50,13.00
78,Jan-00,2000-10-01T00:00:00Z,Sunderland,Leicester,0,0,D,0,0,D,...,2,12,8,3,1,0,0,8,11.75,13.50
79,Jan-00,2000-10-14T00:00:00Z,Arsenal,Aston Villa,1,0,H,0,0,D,...,4,12,20,1,4,0,1,11,12.75,10.25
80,Jan-00,2000-10-14T00:00:00Z,Coventry,Tottenham,2,1,H,2,0,H,...,5,12,16,0,4,1,0,8,11.75,11.25
81,Jan-00,2000-10-14T00:00:00Z,Everton,Southampton,1,1,D,0,0,D,...,8,16,13,1,3,0,0,17,10.50,13.00
82,Jan-00,2000-10-14T00:00:00Z,Ipswich,West Ham,1,1,D,1,0,H,...,5,10,11,0,4,0,0,13,8.25,10.75
83,Jan-00,2000-10-14T00:00:00Z,Leeds,Charlton,3,1,H,1,0,H,...,5,7,9,0,1,0,0,13,10.50,12.50
84,Jan-00,2000-10-14T00:00:00Z,Leicester,Man United,0,3,A,0,1,A,...,7,8,11,0,0,0,0,13,13.50,11.25
85,Jan-00,2000-10-14T00:00:00Z,Man City,Bradford,2,0,H,2,0,H,...,6,10,16,0,2,0,0,11,13.00,11.50
86,Jan-00,2000-10-14T00:00:00Z,Sunderland,Chelsea,1,0,H,0,0,D,...,0,12,18,0,1,1,1,5,10.00,11.25
87,Jan-00,2000-10-15T00:00:00Z,Derby,Liverpool,0,4,A,0,1,A,...,3,18,13,1,1,0,0,7,11.75,10.25
88,Jan-00,2000-10-16T00:00:00Z,Middlesbrough,Newcastle,1,3,A,0,1,A,...,6,8,13,2,1,0,0,12,12.00,13.00
89,Jan-00,2000-10-21T00:00:00Z,Bradford,Ipswich,0,2,A,0,1,A,...,1,15,14,1,0,0,0,10,10.75,9.50
90,Jan-00,2000-10-21T00:00:00Z,Charlton,Middlesbrough,1,0,H,0,0,D,...,6,11,19,2,2,0,0,11,12.00,11.50
91,Jan-00,2000-10-21T00:00:00Z,Chelsea,Coventry,6,1,H,2,0,H,...,0,6,8,0,1,0,1,10,9.75,10.75
92,Jan-00,2000-10-21T00:00:00Z,Liverpool,Leicester,1,0,H,0,0,D,...,9,8,10,1,2,0,0,19,8.75,12.75
93,Jan-00,2000-10-21T00:00:00Z,Man United,Leeds,3,0,H,1,0,H,...,4,9,18,0,2,0,0,16,12.50,10.75
94,Jan-00,2000-10-21T00:00:00Z,Newcastle,Everton,0,1,A,0,0,D,...,4,9,12,1,3,0,0,9,13.25,11.25
95,Jan-00,2000-10-21T00:00:00Z,Tottenham,Derby,3,1,H,2,1,H,...,4,9,16,1,2,0,0,11,9.75,9.75
96,Jan-00,2000-10-21T00:00:00Z,West Ham,Arsenal,1,2,A,0,2,A,...,4,15,11,1,0,0,0,9,10.50,12.00
97,Jan-00,2000-10-22T00:00:00Z,Aston Villa,Sunderland,0,0,D,0,0,D,...,3,11,17,1,3,0,0,10,11.00,9.25
98,Jan-00,2000-10-23T00:00:00Z,Southampton,Man City,0,2,A,0,1,A,...,3,10,15,1,2,0,0,12,13.25,12.50
99,Jan-00,2000-10-28T00:00:00Z,Arsenal,Man City,5,0,H,1,0,H,...,4,6,13,0,3,0,1,14,11.25,12.50
100,Jan-00,2000-10-28T00:00:00Z,Aston Villa,Charlton,2,1,H,2,0,H,...,6,13,11,3,2,0,0,15,10.75,11.75

In [197]:
small_df[(small_df['HomeTeam']=='Man City') | (small_df['AwayTeam']=='Man City')].rolling(window=3,on="HomeTeam",closed='left').sum(numeric_only=True)

,HomeTeam,AC,AF,AR,AS,AST,ATAC,AY,FTAG,FTHG,HC,HF,HR,HS,HST,HTAC,HTAG,HTHG,HY,TC
0,Charlton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Man City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Man City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Leeds,14.0,38.0,0.0,26.0,16.0,NaN,8.0,4.0,9.0,18.0,44.0,0.0,46.0,29.0,NaN,2.0,4.0,6.0,32.0
43,Liverpool,12.0,50.0,0.0,26.0,15.0,NaN,8.0,6.0,6.0,21.0,49.0,0.0,35.0,16.0,NaN,4.0,2.0,7.0,33.0
57,Man City,13.0,53.0,0.0,26.0,18.0,NaN,9.0,6.0,5.0,23.0,42.0,0.0,34.0,14.0,NaN,4.0,1.0,7.0,36.0
67,Tottenham,11.0,52.0,0.0,21.0,12.0,107.0,11.0,5.0,5.0,27.0,50.0,0.0,31.0,13.0,NaN,2.0,1.0,7.0,38.0
73,Man City,11.0,42.0,0.0,20.0,11.0,113.0,11.0,3.0,4.0,23.0,42.0,0.0,43.0,17.0,118.0,0.0,1.0,5.0,34.0
85,Man City,15.0,37.0,0.0,26.0,13.0,114.0,8.0,2.0,1.0,24.0,41.0,0.0,38.0,16.0,108.0,0.0,0.0,2.0,39.0
98,Southampton,18.0,42.0,0.0,32.0,13.0,104.0,5.0,1.0,2.0,20.0,36.0,0.0,40.0,22.0,111.0,0.0,2.0,0.0,38.0
99,Arsenal,17.0,43.0,0.0,36.0,15.0,104.0,5.0,3.0,2.0,24.0,36.0,0.0,41.0,23.0,114.0,1.0,2.0,1.0,41.0